* {
  box-sizing: border-box;
  margin: 0;
}

.hidden {
  display: none;
}

#bgimage {
  height: 100vh;
  background-size: cover;
}

.login {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#login-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 400px;
}

.login > :first-child {
  order: 1;
}

#todo-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#quote {
  font-family: 'Merriweather', serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#quote > :first-child {
  text-align: center;
  font-size: 25px;
  white-space: normal;
}
